<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto'>
      <div class="p-3 mb-2">
        <h4 class="h4_text">感想・コメント一覧</h4>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <div class="d-flex flex-wrap">
            <table class="table">
              <thead>
                <tr>
                  <th>投稿タイプ</th>
                  <th>投稿者</th>
                  <th>タイトル/スポット名</th>
                  <th>コメント</th>
                  <th>投稿日</th>
                  <th></th>
                </tr>
              </thead>
              <% @comments_book.each do |comment| %>
                <tbody>
                  <td>感想</td>
                  <td><%= comment.user.name %></td>
                  <td><%= comment.book.title %></td>
                  <td><%= comment.comment %></td>
                  <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= link_to "削除", admin_comment_path(comment), method: :delete, class: 'btn btn-danger mb-3', role: 'button' %></td>
                </tbody>
              <% end %>

              <% @comments_spot.each do |comment| %>
                <tbody>
                  <td>コメント</td>
                  <td><%= comment.user.name %></td>
                  <td><%= comment.spot.name %></td>
                  <td><%= comment.comment %></td>
                  <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
                  <td><%= link_to "削除", admin_comment_path(comment), method: :delete, class: 'btn btn-danger mb-3', role: 'button' %></td>
                </tbody>
              <% end %>

            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>