<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto'>
      <div class="p-3 mb-2">
        <h4 class="h4_text">書籍一覧</h4>
      </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <div class="row"> 
          <table>
            <tr>
              <th></th>
              <th>タイトル</th>
              <th>ジャンル</th>
              <th>登録日</th>
              <th></th>
              <th></th>
            <tr>
            <% @books.each do |book| %>
              <tr>
                <td>
                  <div class="book_image">
                  <%= image_tag book.get_book_image(100,100) %>
                  </div>
                </td>
                <td><%= book.title %></td>
                <td>ジャンル名</td>
                <td><%= book.created_at.strftime('%Y/%m/%d') %></td>
                <td><%= link_to "編集する",  edit_admin_book_path(book), class: 'btn btn-success mb-3', role: 'button' %></td>
                <td><%= link_to "削除する", admin_book_path(book), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
