<table class="table  text-center">
  <% if books.present? %>
    <% if books.any? %>
      <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>ジャンル</th>
          <th>ブックマーク</th>
          <th>登録日</th>
          <th></th>
        <tr>
      </thead>
      <tbody>
        <% books.each do |book| %>
          <tr>
            <td>
              <div class="book_image">
                <% if admin_signed_in? %>
                  <%= image_tag book.get_book_image(100,100) %>
                <% else %>
                  <%= link_to book_path(book), data: {"turbolinks"=>false} do %>
                    <%= image_tag book.get_book_image(100,100) %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td><%= book.title %></td>
            <td>
              <% if admin_signed_in? %>
                <%= book.genre.name %>
              <% else %>
                <%= link_to book.genre.name, genre_path(book.genre) %>
              <% end %>
            </td>
            <td>
              <div class="index_bookmark_icon">
                <i class="fa-solid fa-bookmark"></i> <%= book.bookmarks.count %>
              </div>
            </td>
            <td><%= book.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% if admin_signed_in? %>
                <%= link_to "編集", edit_admin_book_path(book), class: 'btn btn-success mb-3', role: 'button' %>
                <%= link_to "削除", admin_book_path(book), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
              <% elsif user_signed_in? && current_user == book.user %>
                <%= link_to "編集", edit_book_path(book), class: 'btn btn-success mb-3', role: 'button' %>
                <%= link_to "削除", book_path(book), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  <% else %>
    <p>書籍登録がありません</p>
  <% end %>
</table>