<div class="row">
  <% books.each do |book| %>
    <div class="col-md-3 mb-4">
      <div class="card mx-auto mt-4 aspect-ratio" style="height: auto; position: relative;">
        
        <!-- ブックマークアイコン -->
        <% if user_signed_in? %>
          <div class="bookmark_icon">
            <i class="fa-solid fa-bookmark"></i> <%= book.bookmarks.count %>
          </div>
        <% end %>
        
        <div class="card-body py-0 mt-4">
          <%= link_to book_path(book), data: {"turbolinks"=>false} do %>
            <div class: "card-img-top card-image">
              <%= image_tag book.image_url.presence || asset_path("no_image.jpg") %>
            </div>
          <% end %>
          <div class="card-body">
            <p class="card-title"><%= book.title %></p>
            <p class="card-title"><%= book.author %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

