<table>
  <tr>
    <th>投稿者</th>
    <th>コメント</th>
    <th>スポット画像</th>
    <th>投稿日</th>
    <th></th>
  </tr>

<% if post_model.present? %>
  <% if post_model.comments.any? %>
    <% post_model.comments.each do |comment| %>
      <tr>
        <td><%= image_tag comment.user.get_profile_image(80,80) %></td>
        <td><%= comment.comment %></td>
      <div class="comment_image">
        <td><%= image_tag comment.get_comment_image(80,80) %></td>
      </div>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
        <% if admin_signed_in? %>
          <td><%= link_to "削除する", admin_comment_path(comment), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %></td>
        <% elsif user_signed_in? && current_user == comment.user %>
          <td><%= link_to "削除する", book_comment_path(comment), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %></td>
        <% else %>
        <% end %>
        <% end %>
      </tr>
    <% else %>
      <p>コメントがありません</p>
    <% end %>
    <% else %>
      <p>コメントがありません</p>
  <% end %>
</table>