<%# 動的ヘッダーの部分テンプレートファイル %>
<header>
  <nav class = "navbar navbar-expand-lg bg-custom ">
    <div class = container>

      <a class = "navbar-brand" href = "/">
        読み旅
      </a>

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <!-- Customerログイン時のヘッダー -->
          <% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to '書籍投稿', new_book_path, class: "nav_button" %>
            </li>

            <li class="nav-item">
              <%= link_to 'スポット投稿', new_spot_path, class: "nav_button" %>
            </li>


            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav_button" %>
            </li>

          <!-- Adminログイン時のヘッダー -->
<!--           <% elsif user_signed_in? %>-->
<!--             <li class="nav-item">-->
<!--               <%= link_to '商品一覧', admin_items_path, class: "nav_button" %>-->
<!--             </li>-->

<!--             <li class="nav-item">-->
<!--               <%= link_to '会員一覧', admin_customers_path, class: "nav_button" %>-->
<!--            </li>-->

<!--             <li class="nav-item">-->
<!--               <%= link_to '注文履歴一覧', admin_top_path, class: "nav_button" %>-->
<!--             </li>-->

<!--             <li class="nav-item">-->
<!--               <%= link_to 'ジャンル一覧', admin_genres_path, class: "nav_button" %>-->
<!--             </li>-->

<!--             <li class="nav-item">-->
<!--               <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "nav_button" %>-->
<!--             </li>-->

          <!-- 非ログイン時のヘッダー -->
          <% else %>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path, class: "nav_button" %>
            </li>

            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path, class: "nav_button" %>
            </li>

          <% end %>
        </ul>

      </div>
    </div>
  </nav>
</header>