<header>
  <nav class = "navbar navbar-expand-lg bg_custom">
    <div class = "container">

    <!-- Adminログイン時のロゴ表示 -->
    <% if admin_signed_in? %>
      <a class = "navbar-brand" href = "/admin">
        <img src="<%= asset_url('logo.webp') %>" alt="サイトロゴ" class="logo_image">
      </a>
      管理者ページ
    <!-- 非ログイン・Userログイン時のロゴ表示 -->
    <% else %>
      <a class = "navbar-brand" href = "/">
        <img src="<%= asset_url('logo.webp') %>" alt="サイトロゴ" class="logo_image">
      </a>
    <% end %>

    <!-- ヘッダー上段メニュ -->
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">

        <!-- Userログイン時のヘッダー -->
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-book'></i> 書籍投稿".html_safe, new_book_path, class: "nav_button" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-location-pin'></i> スポット投稿".html_safe, new_spot_path, class: "nav_button" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-user'></i> マイページ".html_safe, mypage_users_path, class: "nav_button" %>
          </li>
          <li class="nav-item">
            <%= link_to "<i class='fa-solid fa-arrow-right-from-bracket'></i> ログアウト".html_safe, destroy_user_session_path, method: :delete, class: "nav_button_login_logout" %>
          </li>

          <!-- Adminログイン時のヘッダー -->
          <% elsif admin_signed_in? %>  
            <li class="nav-item">
              <%= link_to "<i class='fa-solid fa-arrow-right-from-bracket'></i> ログアウト".html_safe, destroy_admin_session_path, method: :delete, class: "nav_button_login_logout" %>
            </li>

          <!-- 非ログイン時のヘッダー -->
          <% else %>
            <li class="nav-item">
              <%= link_to "<i class='fa-solid fa-circle-question'></i> 読み旅とは".html_safe, about_path, class: "nav_button" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fa-solid fa-user-plus'></i> 新規会員登録".html_safe, new_user_registration_path, class: "nav_button" %>
            </li>
            <li class="nav-item">
              <%= link_to "<i class='fa-solid fa-arrow-right-to-bracket'></i> ログイン".html_safe, new_user_session_path, class: "nav_button_login_logout" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <!-- ヘッダー下段メニュ -->
  <!-- Adminログイン時のヘッダー -->
  <% if admin_signed_in? %>  
    <nav class = "navbar navbar-expand-lg bg_admin_bottom nav_button">
      <div class = "container">
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                投稿情報編集
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "<i class='fa-solid fa-book'></i> 書籍一覧".html_safe, admin_books_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-location-pin'></i> スポット一覧".html_safe, admin_spots_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-comment'></i> 感想・コメント一覧".html_safe, admin_comments_path, class:"dropdown-item" %></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                会員情報編集
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "<i class='fa-solid fa-user'></i> 会員一覧".html_safe, admin_users_path, class:"dropdown-item" %></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                分類情報編集
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "<i class='fa-solid fa-book'></i> ジャンル一覧".html_safe, admin_genres_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-location-pin'></i> 地域一覧".html_safe, admin_locations_path, class:"dropdown-item" %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  <!-- Userログイン時のヘッダー -->
  <% elsif user_signed_in? %>
    <nav class = "navbar navbar-expand-lg bg_user_bottom nav_button">
      <div class = "container">
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                全件一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "<i class='fa-solid fa-book'></i> 書籍一覧".html_safe, books_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-location-pin'></i> スポット一覧".html_safe, spots_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-user'></i> 会員一覧".html_safe, users_path, class:"dropdown-item" %></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-book"></i> 書籍ジャンル別一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @genres.each do |genre| %>
                  <li><a class="dropdown-item" href="<%= genre_path(genre) %>" ><i class="fa-solid fa-book"></i> <%= genre.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-location-pin"></i> スポット地域別一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @locations.pluck(:name).uniq.each do |location_name| %>
                  <li><a class="dropdown-item" href="<%= location_path(Location.find_by(name: location_name)) %>" ><i class="fa-solid fa-book"></i> <%= location_name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>

          <form class="d-flex" role="search" action="/searches" method="GET">
          <select name="range">
            <option value="book">書籍</option>
            <option value="spot">スポット</option>
            <option value="user">会員</option>
          </select>
            <input class="form-control me-2" type="search" name="word" placeholder="タイトル、スポット、会員" aria-label="Search">
            <input type="hidden" name="search" value="partial_match"> 
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- 非ログイン時のヘッダー -->
  <% else %>
    <nav class = "navbar navbar-expand-lg bg_user_bottom nav_button">
      <div class = "container">
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavDarkDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                全件一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <li><%= link_to "<i class='fa-solid fa-book'></i> 書籍一覧".html_safe, books_path, class:"dropdown-item" %></li>
                <li><%= link_to "<i class='fa-solid fa-location-pin'></i> スポット一覧".html_safe, spots_path, class:"dropdown-item" %></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-book"></i> 書籍ジャンル別一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @genres.each do |genre| %>
                  <li><a class="dropdown-item" href="<%= genre_path(genre) %>" ><i class="fa-solid fa-book"></i> <%= genre.name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <button class="btn dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-location-pin"></i> スポット地域別一覧
              </button>
              <ul class="dropdown-menu dropdown-menu-dark">
                <% @locations.pluck(:name).uniq.each do |location_name| %>
                  <li><a class="dropdown-item" href="<%= location_path(Location.find_by(name: location_name)) %>" ><i class="fa-solid fa-book"></i> <%= location_name %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <% end %>

</header>