<table>
  <% if spot.present? %>
    <% if spot.comments.any? %>
      <tr>
        <th>投稿者</th>
        <th>関連書籍</th>
        <th>コメント</th>
        <th>スポット画像</th>
        <th>投稿日</th>
        <th></th>
      </tr>
      <% spot.comments.order(created_at: :desc).each do |comment| %>
        <tr>
          <td>
            <div class="profile_image">
              <% if comment.user == current_user %>
                <%= link_to mypage_users_path do %>
                  <%= image_tag comment.user.get_profile_image(80,80) %><br>
                  <%= comment.user.name %>
                <% end %>
              <% else %>
                <%= link_to user_path(comment.user) do %>
                  <%= image_tag comment.user.get_profile_image(80,80) %><br>
                  <%= comment.user.name %>
                <% end %>
              <% end %>
            </div>
          </td>
            <% if comment.book %>
              <td>
                <%= link_to book_path(comment.book) do %>
                  <%= comment.book.title %>
                <% end %>
              </td>
            <% end %>
            <td><%= comment.comment %></td>
          <div class="comment_image">
            <td><%= image_tag comment.get_comment_image(80,80), { data: { bs_toggle: "modal", bs_target: "#imageModal" }, class: "clickable-image" } %></td>
            <!-- スポット画像表示Modal -->
            <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">スポット画像表示</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                  </div>
                  <div class="modal-body">
                  <%= image_tag comment.get_comment_image(300,300) %>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
              <% if admin_signed_in? %>
                <td><%= link_to "削除", admin_comment_path(spot_id: spot.id, id: comment.id), method: :delete, class: 'btn btn-danger mb-3', role: 'button' %></td>
                <% elsif user_signed_in? && current_user == comment.user %>
                <td><%= link_to "削除", spot_comment_path(spot_id: spot.id, id: comment.id), method: :delete, class: 'btn btn-danger mb-3', role: 'button', remote: true  %></td>
                <% else %>
                <% end %>
              <% end %>
              <% else %>
              <p>コメントがありません</p>
          </tr>
        <% end %>
    <% else %>
  <% end %>
</table>
