<table class="table text-center">
  <% if spots.present? %>
    <% if spots.any? %>
      <thead>
        <tr>
          <th width= "10%"></th>
          <th width= "20%">スポット名</th>
          <th width= "20%">住所</th>
          <th width= "10%">地域</th>
          <th width= "10%">行きたい！</th>
          <th width= "10%">行ったよ！</th>
          <th width= "10%">登録日</th>
          <th width= "10%"></th>
        </tr>
      </thead>
      <tbody>
        <% spots.each do |spot| %>
          <tr>
            <td>
              <div class="spot_image">
                <% if admin_signed_in? %>
                  <%= image_tag spot.get_spot_image(100,100) %>
                <% else %>
                  <%= link_to spot_path(spot), data: {"turbolinks"=>false} do %>
                    <%= image_tag spot.get_spot_image(100,100) %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td><%= spot.name %></td>
            <td><%= spot.address_googlemap %></td>
            <td>
              <% if admin_signed_in? %>
               <%= spot.location.name %>
              <% else %>
                <%= link_to spot.location.name, location_path(spot.location.name) %>
              <% end %>
            </td>
            <td>
              <div class="index_want_to_go_icon">
                <i class="fa-solid fa-face-grin-hearts"></i> <%= spot.want_to_gos.count %>
              </div>
            </td>
            <td>
              <div class="index_went_icon">
                <i class="fa-solid fa-thumbs-up"></i> <%= spot.wents.count %>
              </div>
            </td>
            <td><%= spot.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <% if admin_signed_in? %>
                <%= link_to "編集",  edit_admin_spot_path(spot), class: 'btn btn-success mb-3', role: 'button' %>
                <%= link_to "削除", admin_spot_path(spot), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
              <% elsif user_signed_in? && current_user == spot.user %>
                <%= link_to "編集",  edit_spot_path(spot), class: 'btn btn-success mb-3', role: 'button' %>
                <%= link_to "削除", spot_path(spot), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
      <% else %>
    <% end %>
  <% else %>
    <p>スポット登録がありません</p>
  <% end %>
</table>
<%= paginate spots %>