<table class="table">
  <thead>
    <tr>
    <th></th>
    <th>会員名</th>
    <th>自己紹介</th>
    <th>好きな本</th>
    <th>フォロー数</th>
    <th>フォロワー数</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <div class="profile_image">
          <%= image_tag user.get_profile_image(100,100) %>
          </div>
        </td>
        <td>
          <% if user == current_user %>
            <%= link_to mypage_users_path do %>
              <%= user.name %>
            <% end %>
          <% else %>
            <%= link_to user_path(user) do %>
              <%= user.name %>
            <% end %>
          <% end %>  
        </td>
        <td><%= user.introduction %></td>
        <td><%= user.favorite_books %></td>
        <td>
          <div class="follow_icon" %>
            <i class="fa-solid fa-people-arrows"></i> <%= user.followings.count %>
          </div>
        </td>
        <td>
          <div class="follow_icon" %>
            <i class="fa-solid fa-people-arrows"></i> <%= user.followers.count %>
          </div>
        </td>
        <td>
          <% unless user == current_user %>
            <%= render 'temp/follow_btn', user: user %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate users %>

