<div class='container-fluid container-sidebar'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-2 bg-custom-sidebar'>
      <%= render 'temp/sidebar' %>
    </div>

    <div class='col-md-10'>
      <div class="p-3 mb-2">
        <h3>スポット情報編集</h3>
      </div>

      <div class="row">
        <div class='col-md-8 mx-auto'>
          <div class="field">
          <%= form_with model: @spot do |f| %>
              <%= f.label :スポット名 %><br />
              <%= f.text_field :name, autofocus: true, autocomplete: "title" %><br />
              <%= f.label :住所 %><br />
              <%= f.text_field :address, autofocus: true, autocomplete: "adderess" %><br />
              <%= f.label :スポット画像 %><br />
              <%= f.file_field :spot_image, accept: "image/*" %><br /><br />
              <%= f.submit "スポット情報更新" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>