<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class='col-md-10  mx-auto text-center'>
      <h4_text class="h4_text">スポット情報編集</h4>
    </div>

    <div class="row">
      <div class='col-md-8 mx-auto text-center'>
        <% if @spot.errors.any? %>
          <div id="error_explanation">
            <%= pluralize(@spot.errors.count, "error") %> 件のエラーがあります:
            <ul>
              <% @spot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form_with model: @spot do |f| %>
            <%= f.hidden_field :post_type, value: "spot" %>
            <%= f.label :スポット名 %><br />
            <%= f.text_field :name, autofocus: true, autocomplete: "title", size: "30x1" %><br />
            <%= f.label :住所 %><br />
            <%= f.text_field :address, autofocus: true, autocomplete: "adderess", size: "40x1" %><br />
            <%= f.label :スポット画像 %><br />
            <%= f.file_field :spot_image, accept: "image/*" %><br /><br />
            <%= f.label :関連書籍選択 %>
            <%= f.collection_select :book_id, Book.all, :id, :title, autocomplete: "book" %><br /><br />
            <%= f.submit 'スポット情報更新', class: 'nav_button' %><br />
            <%= link_to "削除する", spot_path(@spot), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>