<div class='container-fluid container-sidber'>
  <div class='row no-gutters  bg-white'>

    <div class='col-md-10  mx-auto text-center'>
      <h3 class="h3_text">新規スポット投稿</h3>
    </div>

    <div class="row">
      <div class='col-md-8 mx-auto text-center'>
        <% if @spot.errors.any? %>
          <div id="error_explanation">
            <%= pluralize(@spot.errors.count, "error") %> 件のエラーがあります:
            <ul>
              <% @spot.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with model: @spot do |f| %>
            <%= f.label :スポット名 %><br />
            <%= f.text_field :name, size: "30x1" %><br /><br />
            <%= f.label :住所 %><br />
            <%= f.text_field :address,size: "40x1" %><br /><br />
            <%= f.label :スポット画像 %><br />
            <%= f.file_field :spot_image, accept: "image/*" %><br /><br />
            <%= f.submit 'スポット新規投稿', class: 'nav_button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
