<div class='container-fluid'>
  <div class='row no-gutters'>
    <div class="col-md-10 d-flex">

      <!-- スポット詳細（左側） -->
      <div class="col-md-5">
        <h4 class="h4_text">スポット詳細</h4>

        <% if user_signed_in? %>
          <!-- 行きたい！ボタン -->
          <div class="button-container">
            <div id="want_to_go_buttons_<%= @spot.id %>">
              <%= render "temp/want_to_go", spot: @spot %>
            </div>
            <!-- 行ったよ！ボタン -->
            <div id="went_buttons_<%= @spot.id %>">
              <%= render "temp/went", spot: @spot %>
            </div>
          </div>
        <% end %>
        
        <table class="spot_table">
          <tr>
            <th>スポット名</th>
            <td><%= link_to @spot.name, spot_path(@spot.id) %></td>
          </tr>
            <th>地域</th>
            <td><%= link_to @spot.location.name, location_path(@spot.location) %></td>
          </tr>
          <tr>
          <th>住所</th>
            <td><%= @spot.address_prefectures %><%= @spot.address_city %></td>
          </tr>
          <tr>
          <th>地図</th>
            <td>
            <!-- Googleマップ表示エリア(地図を表示) -->
            <div id="map"></div>
            <!-- Googleマップ表示用の Javascript -->
            <script>
              function initMap(){
                // 地図の位置情報(緯度・経度)を取得
                let mapPosition = {lat: <%= @spot.latitude || 0 %> , lng: <%= @spot.longitude || 0 %> };
                let map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: mapPosition
                });
                let transitLayer = new google.maps.TransitLayer();
                transitLayer.setMap(map);
    
                let contentString = '【住所】<%= @spot.address_city %>';
                let infowindow = new google.maps.InfoWindow({
                  content: contentString
                });
    
                let marker = new google.maps.Marker({
                  position: mapPosition,
                  map: map,
                  title: contentString
                });
    
                marker.addListener('click', function(){
                  infowindow.open(map, marker);
                });
              }
              </script>
    
              <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&v=weekly&libraries=geometry&modules=marker&callback=initMap" async defer></script>
              <td>
            </tr>
            <tr>
            <th>スポット画像</th>
            <td>
              <%= image_tag @spot.get_spot_image(200,200),  { data: { bs_toggle: "modal", bs_target: "#imageModal" }, class: "clickable-image" } %>
              <!-- 画像表示Modal -->
              <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                    </div>
                    <div class="modal-body">
                      <%= image_tag @spot.get_spot_image(450,450) %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </table>

        <!-- 登録者情報 -->
        <table class="element_table">
          <% if @spot.user == current_user %>
          <tr>
            <td><%= link_to "<i class='fa-solid fa-gears'></i> 編集する".html_safe, edit_spot_path(@spot.id), class: 'nav_button' %></td>
          </tr>
          <% end %>
          <tr>
            <td class="text-center">
              <div class="profile_image">
                <% if @spot.user == current_user %>
                  <%= link_to mypage_users_path do %> 
                    <%= image_tag @user.get_profile_image(80, 80) %>
                  <% end %>
                <% else %>
                  <%= link_to user_path(@user) do %> 
                    <%= image_tag @user.get_profile_image(80, 80) %>
                  <% end %>
                <% end %>
              </div>
            </td>
            <td><%= @spot.user.name %>さんが登録</td>
          </tr>
        </table>
      </div>

      <!-- コメント＆スポット（右側） -->
      <div class="col-md-9 d-flex flex-column">
        <div class="col-md-12">

          <!-- タブ表示 -->
          <div class="tabs d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" href="#comment_index">コメント</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#book_index">関連書籍</a>
              </li>
            </ul>
          </div>

          <!-- コメント投稿・一覧 -->
          <div class="tab-content">
            <div id="comment_index" class="tab-pane fade show active">
              <div class="row">
                <div class="col-md-12">
                  <div class="row"> 
                    <div>
                      <% if user_signed_in? %>
                      <h4 class="h4_text">コメント投稿</h4>
                      ★･･･必須項目
                        <!-- 投稿フォーム -->
                        <%= form_with model: [@spot, @comment], local: false do |f| %>
                          <%= f.label :comment, "コメント：" %> ★
                          <%= f.text_area :comment, autofocus: true, size: "60x2", placeholder: "コメントを入力", id: "comment_textarea" %><br />
                          <%= f.label :comment_image, "スポット画像：" %>
                          <%= f.file_field :comment_image, accept: "image/*", id: "comment_image" %><br />
                          <%= f.label :book_id, "関連書籍選択：" %> ★
                          <%= f.collection_select :book_id, @select_books, :id, :title, prompt: "選択して下さい" %>
                          <%= f.submit "コメントする", class: 'nav_button' %>
                        <% end %>
                      <% else %>
                      <% end %>
                    </div>
                    <h4 class="h4_text">コメント一覧</h4>
                    <div id="comment_list">
                      <%= render "temp/spot_comment_index", comments: @comments %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 関連書籍 -->
            <div id="book_index" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12">
                  <% if user_signed_in? %>
                    <h4 class="h4_text">関連書籍追加</h4>
                    <%= form_for @post_management, url: post_management_path(@post_management), method: :patch do |f| %>
                      <%= f.hidden_field :post_type, value: "spot" %>
                      <%= f.hidden_field :spot_id, value: @spot.id %>
                      <%= f.label :book_id, "書籍選択" %>
                      <%= f.collection_select :book_id, Book.all, :id, :title, include_blank: "登録済みの書籍を選択" %>
                      <%= f.submit "登録済みの書籍を追加", class: "nav_button" %>
                      <%= render 'temp/book_select', post_management: @post_management %>
                    <% end %>
                  <% end %>
                  <h4 class="h4_text">関連書籍一覧</h4>
                  <%= render 'temp/book_index', books: @books_index %>
                </div>
              </div>
            </div>
          </div> 
        </div>      
      </div>

    </div>
  </div>
</div>