<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class="col-md-10 d-flex">
      <!-- スポット詳細（左側） -->
      <div class="col-md-5">
      <h3 class="h3_text">スポット詳細</h3>
        <table class="spot_table">
          <tr>
            <th>スポット名</th>
            <td><%= link_to @spot.name, spot_path(@spot.id) %></td>
          </tr>
          <tr>
          <th>住所</th>
          <td><%= @spot.address %></td>
        </tr>
          <tr>
            <th>スポット画像</th>
            <td><%= image_tag @spot.get_spot_image(200,200),  { data: { bs_toggle: "modal", bs_target: "#imageModal" }, class: "clickable-image" } %></td>
          </tr>
          </table>
          <table class="element_table">
            <tr>
              <td>行きたい！ボタン</td>
              <td>行ったよ！ボタン</td>
            </tr>
            <% if @spot.user == current_user %>
            <tr>
              <td><%= link_to "<i class='fa-solid fa-gears'></i> 編集する".html_safe, edit_spot_path(@spot.id), class: 'nav_button' %></td>
            </tr>
            <% end %>
            <tr>
              <td>
                <div class="profile_image">
                  <%= image_tag @user.get_profile_image(100,100) %>
                </div>
              </td>
              <% if @spot.user == current_user %>
              <td><%= link_to @spot.user.name, mypage_users_path %>さんが登録</td>
              <% else %>
              <td><%= link_to @spot.user.name, user_path(@user.id) %>さんが登録</td>
              <% end %>
            </tr>
        </table>
      </div>

      <!-- コメント＆スポット（右側） -->
      <div class="col-md-8 d-flex flex-column">
        <div class="col-md-12">
          <div class="tabs d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs">
              <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#comment_index">コメント</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#book_index">関連書籍</a>
              </li>
            </ul>
          </div>

          <div id="comment_index" class="tab-pane fade show active">
            <div class="row">
              <div class="col-md-12">
                <div class="row"> 
                  コメント
                  <%= render "temp/comment_index" %>
                </div>
              </div>
            </div>
          </div>

          <div id="book_index" class="tab-pane fade">
            <div class="row">
              <div class="col-md-12">
                <div class="row"> 
                  関連書籍
                </div>
              </div>
            </div>
          </div>

          <!-- 画像表示Modal -->
          <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">画像表示</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-body">
                <%= image_tag @spot.get_spot_image(300,300) %>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>