<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto text-center'>
      <h4 class="h4_text">スポット情報編集</h4>
    </div>
    <div class="row">
      <div class='col-md-10 mx-auto text-center'>
        <%= render 'temp/error_message', model: @spot %>

        <div class="field">
          <%= form_with model: @spot, url: admin_spot_path(@spot.id) do |f| %>
            <%= f.label :スポット名 %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "30x1" %><br /><br />
            <%= f.label :住所（都道府県） %> ★
            <%= f.select :address_prefectures, Spot.address_prefectures.keys, { include_blank: true }, { autocomplete: "address_prefectures" } %><br /><br />
            <%= f.label :住所（市町村以降）%>
            <%= f.text_field :address_city, autocomplete: "address_city" ,size: "40x1" %><br /><br />
            <%= f.label :スポット画像 %>
            <%= f.file_field :spot_image, accept: "image/*" %><br /><br />
            <%= f.submit 'スポット情報更新', class: 'nav_button' %><br />
            <%= link_to "削除する", admin_spot_path(@spot), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>