<div class='container-fluid'>
  <div class='row no-gutters bg-white'>
    <div class='col-md-10 mx-auto text-center'>
      <h4 class="h4_text">会員情報編集</h4>
    </div>
    <div class="row">
      <div class='col-md-10 mx-auto text-center'>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <%= pluralize(@user.errors.count, "error") %> 件のエラーがあります:
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
        <div class="field">
          <%= form_with model: @user, url: admin_user_path(@user.id) do |f| %>
            <%= f.label :名前 %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name", size: "30x1" %><br /><br />
            <%= f.label :プロフィール画像 %>
            <%= f.file_field :user_image, accept: "image/*" %><br /><br />
            <%= f.label :自己紹介 %>
            <%= f.text_field :introduction, autofocus: true, autocomplete: "introduction", size: "30x3" %><br /><br />
            <%= f.label :好きな本 %>
            <%= f.text_field :favorite_books, autofocus: true, autocomplete: "favorite_books", size: "30x3" %><br /><br />
            <%= f.submit '会員情報更新', class: 'nav_button' %><br />
            <%= link_to "削除する", admin_user_path(@user), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
