<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class='col-md-10 mx-auto text-center'>
      <h4 class="h4_text">書籍情報編集</h4>
      ★･･･必須項目
    </div>

    <div class="row">
      <div class='col-md-10 mx-auto text-center'>
      
        <!-- エラーメッセージ -->
        <%= render 'temp/error_message', model: @book %>
        
        <div class="field">
          <%= form_with model: @book do |f| %>
            <%= f.hidden_field :post_type, value: "book" %>
            <%= f.hidden_field :isbn, autocomplete: "isbn" %>
            <%= image_tag @book.image_url.presence || asset_path("no_image.jpg") %><br /><br />
            <%= f.label :title, "タイトル" %> ★
            <%= f.text_field :title, autofocus: true, autocomplete: "title", size: "30x1" %><br /><br />
            <%= f.label :author, "著者" %>
            <%= f.text_field :author, autocomplete: "author", size: "20x1" %><br /><br />
            <%= f.label :genre_id, "ジャンル選択" %> ★
            <%= f.collection_select :genre_id, Genre.all, :id, :name, autocomplete: "genre" %><br /><br />
            <%= f.submit '書籍情報更新', class: 'nav_button' %><br /><br />
            <%= link_to "削除する", book_path(@book), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

