<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class='col-md-10 mx-auto text-center'>
      <h3>書籍情報編集</h3>
    </div>

    <div class="row">
      <div class='col-md-10 mx-auto text-center'>
        <div class="field">
        <%= form_with model: @book do |f| %>
            <%= f.label :タイトル %><br />
            <%= f.text_field :title, autofocus: true, autocomplete: "title" %><br />
            <%= f.label :表紙画像 %><br />
            <%= f.file_field :book_image, accept: "image/*" %><br /><br />
            <%= f.submit '書籍情報更新', class: 'nav_button' %><br />
            <%= link_to "削除する", book_path(@book.id), method: :delete, class: 'btn btn-danger mb-3', role: 'button', "data-confirm" => "本当に削除しますか？" %>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>

