<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class='col-md-10 mx-auto text-center'>
      <h3 class="h3_text">書籍情報編集</h3>
    </div>

    <div class="row">
      <div class='col-md-12 mx-auto'>
        <% if @book.errors.any? %>
          <div id="error_explanation">
              <%= pluralize(@book.errors.count, "error") %> 件のエラーがあります:
            <ul>
              <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
         
        <div class="field">
          <%= form_with model: @book do |f| %>
            <%= f.label :タイトル %><br />
            <%= f.text_field :title, size: "30x1" %><br /><br />
            <%= f.label :表紙 %><br />
            <%= f.file_field :book_image, accept: "image/*" %><br /><br />
            <%= f.submit '書籍新規投稿', class: 'nav_button' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
