<div class='container-fluid'>
  <div class='row no-gutters bg-white'>

    <div class="col-md-10 d-flex">
      <!-- 書籍詳細（左側） -->
      <div class="col-md-5">
        <h4 class="h4_text">書籍詳細</h4>
          <table class="book_table">
            <tr>
              <th>タイトル</th>
              <td><%= link_to @book.title, book_path(@book.id) %></td>
            </tr>
            <tr>
              <th>表紙画像</th>
              <td>
                <%= image_tag @book.get_book_image(200,200), { data: { bs_toggle: "modal", bs_target: "#imageModal" }, class: "clickable-image" }  %>
                <!-- 画像表示Modal -->
                <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">画像表示</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                      </div>
                      <div class="modal-body">
                      <%= image_tag @book.get_book_image(300,300) %>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
            <th>ジャンル</th>
            <td><%= link_to @book.genre.name, genre_path(@genre) %></td>
          </tr>
          </table>
          <table class="element_table">
            <tr>
              <td>ブックマークボタン</td>
            <tr>
            <% if @book.user == current_user %>
              <tr>
                <td><%= link_to "<i class='fa-solid fa-gears'></i> 編集する".html_safe, edit_book_path(@book.id),  class: 'nav_button' %></td>
              </tr>
            <% end %>
          <tr>
            <td>
              <div class="profile_image">
                <%= image_tag @user.get_profile_image(100,100) %>
              </div>
            </td>
            <% if @book.user == current_user %>
            <td><%= link_to @book.user.name, mypage_users_path %>さんが登録</td>
            <% else %>
            <td><%= link_to @book.user.name, user_path(@user.id) %>さんが登録</td>
            <% end %>
          </tr>
        </table>
      </div>

      <!-- コメント＆スポット（右側） -->
      <div class="col-md-9 d-flex flex-column">
        <div class="col-md-12">

          <!-- タブ表示 -->
          <div class="tabs d-flex justify-content-between align-items-center">
            <ul class="nav nav-tabs">
              <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#comment_index">感想</a>
              </li>
              <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#spot_index">関連スポット</a>
              </li>
            </ul>
          </div>

          <!-- 感想コメント投稿・一覧 -->
          <div class="tab-content">
            <div id="comment_index" class="tab-pane fade show active">
              <div class="row">
                <div class="col-md-12">
                  <div class="row"> 
                    <% if user_signed_in? %>
                      <h4 class="h4_text">感想投稿</h4>
                      <%= form_with model: [@book, @comment], local: false do |f| %>
                        <div style="display: flex; align-items: center;">
                          <%= f.text_area :comment, size: "60x2", placeholder: "感想を入力", id: "comment_textarea" %>
                          <div style="margin-bottom: 5px;">
                            <%= f.submit "投稿する", class: 'nav_button' %>
                          </div>
                        </div>
                      <% end %>
                    <% end %>
                    <h4 class="h4_text">感想一覧</h4>
                    <div id="comment_list">
                      <%= render 'temp/book_comment_index', comments: @comments, user: @user %>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- 関連スポット一覧 -->
            <div id="spot_index" class="tab-pane fade">
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <% if @spots.present? %>
                      <% @spots.each do |spot| %>
                        <% spot = spot.spot %>
                          <div class="col-md-4 mb-4">
                            <div class="card mx-auto mt-4 aspect-ratio" style="height: auto;">
                              <div class="card-body py-0">
                              <% if spot %>
                                <%= link_to spot_path(spot) do %>
                                  <%= image_tag spot.get_spot_image(200, 200), class: "card-img-top" %>
                                <% end %>
                                  <p class="card-title"><%= spot.name %></p>
                                  <p class="card-title"><%= spot.address %></p>
                                <% else %>
                                  <p>関連スポットがありません</p>
                            <% end %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    <% else %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>